<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Custom.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-loomen.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    @Html.Partial("_NavBar")
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Fleet</p>
        </footer>
    </div>

    @* TODO could create bundles for jquery and bootstrap  *@
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC19q9T1ulHBwjg2NMf02dASinjNaAKLZI&callback=initMap&libraries=geometry,places"></script>


    @RenderSection("scripts", required: false)
</body>
</html>
