<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Custom.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-loomen.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>


    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">



</head>
<body>
    @Html.Partial("_NavBar")
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Fleet</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC19q9T1ulHBwjg2NMf02dASinjNaAKLZI&callback=initMap&libraries=geometry,places,drawing"></script>

    @* script for date *@
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    @* validation script *@
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    @* script for calculations *@
    <script src="http://arthur-e.github.io/Wicket/wicket.js"></script>
    <script src="http://arthur-e.github.io/Wicket/wicket-gmap3.js"></script>
    <script src="http://bl.ocks.org/christophermanning/raw/4450188/javascript.util.min.js"></script>
<script src="http://bl.ocks.org/christophermanning/raw/4450188/jsts.min.js"></script>

    <script src="https://cdn.rawgit.com/bjornharrtell/jsts/gh-pages/1.1.2/jsts.min.js"></script>


@RenderSection("scripts", required: false)
</body>
</html>
